$altColor: #fff;//white 

$navBarHeight: 36px;
$masterheadHeight: 20px;
$headerHeight: 126px;
$scrollPaneHeight: 400px;
$thumbsHeight: 90px;
$mainHeight: $scrollPaneHeight + $thumbsHeight; 
$footerHeight: 101px; 
$totalHeight: $headerHeight + $mainHeight + $footerHeight;


$global-radii-blocks: 4px;

// Layout 
$containerMaxWidth: 0; 
$rowMaxWidth: 860px;

$bodyBackgroundColor: #222222;
$contentContainerBackgroundColor: #000;
$contentBackgroundColor: transparent;
$footerContainerBackgroundColor: $contentContainerBackgroundColor;
$footerBackgroundColor: transparent;
$copyrightContainerBackgroundColor: transparent;
$copyrightBackgroundColor: transparent; 
$mainBackgroundColor: transparent;
$sidebarBackgroundColor: transparent;

// Typography
$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$baseFontSize: 12px;
$baseLineHeight: 20px;
$textColor: #d5d5d5;
$headingFontFamily: $baseFontFamily;
$headingTextColor: $textColor;
$headingBaseFontSize: 26px;

// Links  
$linkColor: #a5a5a5;
$linkColorActive: $altColor;
$linkColorHover: $altColor; 

// Nav base 
$navLinkColor: $linkColor;
$navLinkColorHover: $linkColorHover;
$navLinkColorActive: $navLinkColorHover;
$navBackgroundColor: transparent;
$navBackgroundColorHover: $navBackgroundColor;
$navBackgroundColorActive: $navBackgroundColor;

// Navbar
$navbarBackgroundHighlight: $contentContainerBackgroundColor;
$navbarBackground: $contentContainerBackgroundColor;
$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;
$navbarLinkColorActive: $linkColorHover;
$navbarLinkSpace: 0;
$navbarLinkBackgroundColor: none;
$navbarLinkBackgroundColorHover: $navbarLinkBackgroundColor;
$navbarLinkBackgroundColorActive: $navbarLinkBackgroundColor; 
$navbarLinkCorner: none;  
$navbarButtonBackgroundHighlight: $navbarBackgroundHighlight; 
$navbarButtonBackground: $navbarBackground; 
$navbarButtonIconBarColor: white;
$navbarResponsiveLinkBorder: lighter($navbarLinkColor, 15%);
$navbarDropdownBackground: $navbarBackground;
$navbarDropdownLinkColor: $navbarLinkColor;
$navbarDropdownLinkColorHover: $navbarLinkColorHover;
$navbarDropdownLinkColorActive: $navbarLinkColorActive; 

// Footer links
$footerLinkColor: $linkColor;
$footerLinkColorHover: $linkColorHover;
$footerLinkColorActive: $linkColorActive;
$footerResponsiveLinkBorder: lighter($footerLinkColor, 15%);

// Header links
$headerLinkColor: $linkColor;
$headerLinkColorHover: $linkColorHover;
$headerLinkColorActive: $linkColorActive;

// Copyright links
$copyrightLinkColor: #555555;
$copyrightLinkColorHover: #fff;
$copyrightLinkColorActive: #fff;
$copyrightLogoColor: white;


// Form
$inputTextColor: $textColor;
$inputBackgroundColor: $bodyBackgroundColor;
$inputBorderColor: $textColor;
$inputFocusBorderColor: rgba(82, 168, 236, 0.8); 
$inputBorderRadius: 3px; 

// Grid
$blockGridImageBorder: none;
$blockGridImageBackgroundColor: transparent; 
$blockGridBackgroundColor: transparent; 
$blockGridImageCorner: none;
$blockGridImageShadow: none;


/*-----------------------------------------
IMPORT
----------------------------------------- */
@import "gko_public_all"; 
@import "gko/elastislide";
/*-----------------------------------------
OVERWRITTE
----------------------------------------- */
.dropdown-menu {
	border-color: white;
	border-color: rgba(255, 255, 255, 0.2);
}
/*-----------------------------------------
  GALLERY
----------------------------------------- */
.image-large-wrapper {
	position: relative;
	height: $mainHeight;
	background: black; 
}
.images-thumbnails-container {
	position: absolute;
	height: $thumbsHeight;
	top: $scrollPaneHeight;
	left: 0;
	right: 0;
}
/*-----------------------------------------
STRUCTURE
----------------------------------------- */
#wrapper-wide-body {
	max-width:$rowMaxWidth;
	@include center-block;
}
/*-----------------------------------------
  HEADER
----------------------------------------- */ 

ul#locales {
	background: #000;
	padding: 4px;
	@include corner-top(4px);
}
.navbar {
 margin-bottom: 0;
 height: $headerHeight;
}
.navbar .header-nav {
	position: relative;
	height: $headerHeight;
}
.navbar .brand {
	@include logo(212px, 106px);
	float:left;
	margin-top:10px;
}
.nav-collapse {
	position: absolute; 
	right: 0;
	bottom: 4px;
}

/*-----------------------------------------
 SCROLLPANE
----------------------------------------- */
a#scrollpane-tab {
	width: 28px;
	height: 28px;
	position: absolute;
	z-index: 2;
	cursor:pointer; 
	text-indent: -20000px;
	background: #000;
	span { 
		position:absolute;
		top:50%;
		left:12px;
		background-image: asset_url("gko/nav_thumbnail.png", image);
		background-repeat: no-repeat;
		background-position: top left;
		width:14px;
		height:28px;
		margin-top:-13px;
	}
	&.open {
		span {
			right:12px;
			left:auto;
			background-position: top right;
		}
	} 
}
#scrollpane-wrapper {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 348px;
}
#main-column {
	position: relative;
	overflow: hidden;
	height: $mainHeight;
	 @include box-shadow(rgba(0,0,0,0.3) 0px 1px 4px);  
	@media only screen and (max-width: 767px) {
		height:auto;
		overflow: visible; 
	}
 
}
.page_content {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	max-width: 320px;
	height: $scrollPaneHeight; /* must have an height for scrollpane(in px if parent height is not set) */
	display:block;
	background: #000;
	background: rgba(0,0,0,.7);
	color: #b7b7b7;
	
	@media only screen and (max-width: 767px) {
		height:auto; 
		position: relative;
		max-width:767px;
		overflow:visible; 
		top: 0px;
	}
}
h1.page-title,
.description-container {
	padding-left: 24px;
	padding-right: 24px;
	@media only screen and (max-width: 767px) {
		padding-left: 0px;
		padding-right: 0px;
	}
}
h1.page-title {
	font-size: 26px;
	font-size: 2.6rem;
} 


/*-----------------------------------------
  SCROLLPANE
----------------------------------------- */
$scrollSize: 12px;

.jspContainer {
	overflow: hidden;
	position: relative;

}
.jspPane {
	position: absolute;
}
.jspVerticalBar,
.jspHorizontalBar {
	position: absolute; 
	background: #000;
	.jspCap {
		display: none;
	}
	
	.jspTrack {
		background: #000;
		position: relative;
	}
	.jspDrag {
		background: #ccc;
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
		@include corner-all(6px);
	}
	.jspArrow {
		background: #000;
		text-indent: -20000px;
		display: block;
		cursor: pointer;
	}
	.jspArrow.jspDisabled {
		cursor: default;
		background: #000;
	}
	.jspCorner {
		background: #000;
		float: left;
		height: 100%;
	}
} 
.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspVerticalBar {
	top: 0;
	right: 10px;
	width: $scrollSize;
	height: 100%;
	.jspArrow {
		height:  $scrollSize;
		&:focus {
			outline: none;
		}
	}
}
.jspHorizontalBar {
	bottom: 0;
	left: 0;
	width: 100%;
	height: $scrollSize;
	.jspCap {
		float: left;
	}
	.jspTrack,
	.jspDrag {
		float: left;
		height: 100%;
	}
	.jspArrow {
		width: $scrollSize;
		float: left;
		height: 100%;
	}
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive";